.poster {
  max-width: 200px;
  margin: 10px 2%;
  align-self: center;
  transition: transform 0.2s ease-in-out;

  & > img {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  }

  @media (min-width: 700px) {
    align-self: flex-start;
    flex: 1;
  }

  @media (min-width: 900px) {
    max-width: 300px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.carrusel {
  margin-bottom: 30px;
}
